* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered-xy {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.container {
  background-color: #f0f7ff;
  border: solid 1px #bee1fd;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 10px;
  max-height: 600px;
  max-width: 500px;
  width: 100%
}

.container h1 {
  flex: 0 1 auto;
  font-size: 200%;
  text-align: center;
}

#chat {
  background-color: #fff;
  border: solid 1px #efefef;
  flex: 1 1 auto;
  overflow-y: scroll;
  padding: 5px;
  scroll-behavior: smooth;
}

#loading-msg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
  color: #38678d;
}

ul#messages {
  font-size: 90%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#messages li {
  padding: 5px;
}

.handle {
  font-weight: bold;
  color: rgb(29, 75, 173);
}